html,body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  background: #000;
  color: #FFF;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100vw;
}

hr {
  margin: 3rem 0;
}

h3 {
  color: #b9f7e0;
}

ul {
  list-style: none;
  padding:0;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
  color: #b9f7e0;
}

/* Navigation */

#toggle, #close {
  display: block;
  font-size: 1.4rem;
  padding: 0.6rem 1rem;
}

#close {
  display: block;
  font-size: 2rem;
}

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10000000;
  position: relative;
}

nav li {
  text-align: center;
  padding: 0.6rem 0;
  background: #fff;
}

nav a {
  color: #000;
  text-decoration: none;
  margin: 0;
  width: 100%;
  display: block;
}

nav a:visited {
  color: #000;
}

nav li.active {
  background: #ffddcb;
}

.social a span.hidden {
  display: none;
}

#content {
  padding: 4rem 2rem;
}

#images {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

img {
  width: 100%;
}

img.placed {
  width: 5rem;
}

article {
  margin-bottom: 3rem;
}

@media screen and (min-width: 450px) {
  img.placed {
    width: 6.5rem;
  }
}

@media screen and (min-width: 720px) {
  a:hover {
    color: #5599a6;
  }

  #toggle, #close {
    display: none;
  }

  nav {
    background: #000;
  }

  nav ul {
    padding: 1rem 2rem;
  }

  nav li {
    display: inline-block;
    background: none;
    color: #ffddcb;
  }

  nav a {
    color: #ffddcb;
    padding: 0.4rem;
  }

  nav a:visited {
    color: #ffddcb;
  }

  nav li.active {
    background: none;
  }

  nav li.active a {
    color: #5599a6;
  }

  img.placed {
    width: 10rem;
  }

  .social {
    position: absolute;
    right: 3rem;
    padding: 0.3rem 0;
  }

  #content {
    margin: 0 8rem;
    width: 45%;
  }
}
