html,body {
  padding: 0;
  margin: 0;
  font-size: 19px;
  font-family: 'Work Sans', sans-serif;
  background: #000;
  color: #FFF;
  box-sizing: border-box;
}

h3 {
  color: #b9f7e0;
}

p {
  line-height: 1.3rem;
}

ul {
  list-style: none;
  padding:0;
  margin: 0;
}


/* Navigation */

nav {
  margin: 0;
  padding: 0;
  width: 100vw;
}

nav li {
  text-align: center;
  padding: 0.6rem 0;
  background: #fff;
}

nav a {
  color: #000;
  text-decoration: none;
  margin: 0;
  width: 100%;
  display: block;
}

nav li.active {
  background: #ffddcb;
}

#content {
  padding: 4rem 2rem;
}
