<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    {{ partial "header.html" . }}
    <div>
      <p><strong>Take Care</strong> is a magazine put together by five friends living between Glasgow and London. The debut issue is a collection of creative responses to what is widely acknowledged as the UK housing crisis. This issue was put together over the course of a year in an attempt to understand the housing crisis and its causes. It’s tough out there. Take care of each other.</p>
      <h3>Take Care Team</h3>
      <ul>
        <li>Sarah Bethan Jones</li>
        <li>Charlotte Fountaine</li>
        <li>Fran Gordon</li>
        <li>Fran Gordon</li>
        <li>Romany Rowell</li>
      </ul>

      <h3>Contributors</h3>
      <ul>
        <li>Antra Svarcs</li>
        <li>Michael Sacco</li>
        <li>Leonie Sinden</li>
        <li>Chelsea Frew</li>
        <li>Antra Svarcs</li>
        <li>Michael Sacco</li>
        <li>Leonie Sinden</li>
        <li>Chelsea Frew</li>
        <li>Antra Svarcs</li>
        <li>Michael Sacco</li>
        <li>Leonie Sinden</li>
        <li>Chelsea Frew</li>
        <li>Antra Svarcs</li>
        <li>Michael Sacco</li>
        <li>Leonie Sinden</li>
        <li>Chelsea Frew</li>
      </ul>
    </div>
    </body>
</html>
