  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous">
  <script src="/js/app.js" defer=true></script>
  {{ with .Description }}<meta name="description" content="{{ .}}" />{{ end}}
  {{ with .Params.og_title }}<meta property="og:title" content="{{.}}" />{{end }}
  {{ with .Params.og_description }}<meta property="og:description" content="{{.}}" />{{ end }}
  {{ with .Params.og_image }}<meta property="og:image" content="{{ . | absURL }}" />{{ end }}
